pkgbase = subbox
	pkgdesc = Turn a proxy subscription into a running local sing-box proxy, with a TUI
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/dYGamma/subbox
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	depends = python
	depends = sing-box
	depends = systemd
	source = subbox-0.1.0.tar.gz::https://github.com/dYGamma/subbox/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = 2c682577b31b3880887bcefb5a9ae2deab0bd16fd15f375d186886a7a4a7a92d

pkgname = subbox
